//variables
$siteMainColor: #555;
$siteBGColor: #f5f5f5;
$veryLightGray: #e6e6e6;
$costomRed: #e65540;
$lightGray: #d9d9d9;
//general properties
* {
  font-family: "Montserrat", sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  padding-right: 10px;
  list-style-type: none;
}

a {
  color: $siteMainColor;
  transition: 0.7s;
}

@mixin hover($bgcolor, $color) {
  background-color: $bgcolor;
  > a {
    color: $color;
    transition: 0.8s;
  }
  transition: 0.8s;
}

a:hover {
  text-decoration: none;
  color: $costomRed;
}

.container {
  img {
    width: 100%;
    object-fit: cover;
  }
}

.old-price {
  text-decoration: line-through;
}


@mixin hover($bgcolor, $color) {
  background-color: $bgcolor;
  > a {
    color: $color;
    transition: 0.8s;
  }
  transition: 0.8s;
}

@mixin product-block {
  .container {
    text-align: center;
    h3 {
      text-align: center;
      padding-bottom: 20px;
      font-weight: bold;
    }
    ul {
      padding: 10px;
      li {
        display: inline-block;
      }
    }
    .owl-carousel,
    .catalog {
      .block {
        text-align: left;
        padding-bottom: 50px;
        .image-container {
          position: relative;
          object-fit: cover;
          transition: 0.3s ease;
          margin-bottom: 20px;
          img {
            width: 100%;
          }
          .badge {
            position: absolute;
            top: 10px;
            left: 10px;
            color: white;
            padding: 5px;
          }
          .new {
            background-color: #66a8a6;
          }
          .sale {
            background-color: $costomRed;
          }
          .image-overlay {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 0;
            transition: 0.8s;
            width: 100%;
            height: 100%;
            button {
              position: absolute;
              bottom: 10%;
              left: 16%;
              border: none;
              border-radius: 23px;
              text-transform: capitalize;
              width: 170px;
              height: 40px;
              line-height: 25px;
              font-size: 15px;
              text-transform: uppercase;
              &:hover {
                @include hover($costomRed, white);
              }
            }
          }
        }
        a {
          display: block;
        }
        span {
          color: $siteMainColor;
        }
      }
    }
  }
}
//----------------
header {
  .wrapper {
    position: fixed;
    width: 17%;
    background-color: white;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    .wrapper-menu {
      padding-top: 25%;
      .purchase {
        padding: 40px 10px 70px 10px;
        position: relative;
        .line {
          display: block;
          width: 1px;
          height: 20px;
          background-color: black;
          margin-left: 23px;
          margin-right: 23px;
          margin-top: 5px;
        }
        #items-count {
          position: absolute;
          display: block;
          background-color: black;
          color: white;
          font-size: 0.7em;
          border-radius: 100%;
          text-align: center;
          padding: 0 5px;
          top: 37%;
          right: 0;
          width: 16px;
          height: 16px;
        }
      }
      nav {
        text-align: center;
        > ul {
          > li {
            font-size: 15px;
            padding-bottom: 5px;
          }
          .sub-menu {
            position: relative;
            z-index: 100;
            .sub-menu-content {
              position: absolute;
              visibility: hidden;
              top: 90%;
              left: 70%;
              background-color: black;
              font-weight: 700;
              width: 225px;
              padding: 10px 20px;
              line-height: 2.5em;
              opacity: 0;
              transition: 0.8s;
              a {
                color: white;
                &:hover {
                  color: $costomRed;
                }
              }
            }
          }
          .sub-menu:hover .sub-menu-content {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
    .wrapper-social {
      padding-bottom: 65px;
      .social-media {
        font-size: 18px;
        li {
          padding-right: 10px;
          display: inline-block;
        }
      }
      .exchange {
        display: flex;
        z-index: 10000;
        padding-top: 10px;
        justify-content: center;
        cursor: pointer;
        .email {
          padding-right: 20px;
        }
        #options {
          display: none;
          position: absolute;
          right: 9%;
          top: 70%;
          z-index: 100;
          span {
            display: block;
            padding: 5px;
            background-color: black;
            color: white;
          }
          span:hover {
            background-color: red;
          }
        }
      }
    }
  }
}

main {
  padding-left: 17%;
  .carousel-slide {
    color: white;
    > a {
      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        visibility: hidden;
      }
    }

    .carousel-item {
      position: relative;
      .carousel-content {
        position: absolute;
        top: 30%;
        left: 30%;
        text-align: center;
        width: 40%;
        h2 {
          font-size: 60px;
          line-height: 1.2em;
          letter-spacing: 3px;
          font-weight: bold;
          margin: 30px 0;
        }
        span {
          font-size: 1.2em;
        }
        .shop-now {
          border-radius: 20px;
          width: 35%;
          padding: 10px 20px;
          margin: auto;
          background-color: white;
          a {
            color: black;
          }
        }
        .shop-now:hover {
          @include hover($costomRed, white);
        }
      }
    }
  }

  .carousel-slide:hover {
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      visibility: visible;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 50%;
      padding: 15px;
    }
  }

  .products {
    .product-items {
      position: relative;
      overflow: hidden;
      a {
        text-transform: uppercase;
      }
      > img {
        transform: scale(1);
        transition: 0.6s;
      }
      .product-links {
        width: 180px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        position: absolute;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 5px;
        bottom: 5%;
        left: 22%;
        a {
          color: black;
        }
        &:hover {
          @include hover($costomRed, white);
        }
      }
      .sign-up {
        position: absolute;
        top: 0;
        padding: 50px;
        text-align: center;
        h4 {
          font-size: 1.9em;
          text-transform: uppercase;
        }
        p {
          color: $siteMainColor;
          font-size: 15px;
          font-weight: 700;
          line-height: 1.7;
        }
        div {
          width: 60%;
          margin: auto;
          background-color: black;
          border-radius: 25px;
          padding: 10px;
          a {
            color: white;
          }
          &:hover {
            @include hover($costomRed, white);
          }
        }
      }
    }
    .product-items:hover {
      > img {
        transform: scale(1.1);
      }
    }
  }


  .featured-products {
    padding: 55px 0;
    h2 {
      text-align: center;
      padding-bottom: 20px;
      font-weight: bold;
    }
    .owl-carousel {
      .block {
        .image-container {
          position: relative;
          object-fit: cover;
          width: 100%;
          transition: 0.3s ease;
          .badge {
            position: absolute;
            top: 10px;
            left: 10px;
            color: white;
            padding: 5px;
          }
          .image-overlay {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 100%;
            transform: scale(0);
            transition: 0.4s ease-in-out;
            button {
              position: absolute;
              bottom: 10%;
              left: 30%;
            }
          }
          &:hover .image-overlay {
            transform: scale(1);
          }
        }
        a {
          display: block;
        }
      }
    }
  }

  .countdown-banner {
    .banner-back {
      position: relative;
      > img {
        width: 100%;
      }
      .img-feature-content {
        position: absolute;
        top: 10%;
        right: 0;
        .banner {
          width: 60%;
          position: relative;
          overflow: hidden;
          > img {
            width: 100%;
            transform: scale(1);
            transition: 0.6s;
          }
          .img-countdown-content {
            position: absolute;
            top: 50%;
            left: 20%;
            text-align: center;
            a {
              display: block;
            }
            .countdown {
              padding-top: 40px;
              justify-content: center;
              div {
                margin-right: 5px;
                border: 1px solid #dbdbdb;
                color: #dbdbdb;
                border-radius: 2px;
                width: 60px;
                height: 60px;
                padding: 5px;
                span {
                  display: block;
                  color: #555555;
                }
              }
            }
          }
        }
        &:hover {
          img {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .our-products {
    padding-top: 60px;
    .container {
      text-align: center;
      ul {
        padding: 10px;
        li {
          display: inline-block;
        }
      }
      .catalog {
        .block {
          .image-container {
            position: relative;
            object-fit: cover;
            transition: 0.3s ease;
            img {
              width: 100%;
            }
            .badge {
              position: absolute;
              top: 10px;
              left: 10px;
              color: white;
              padding: 5px;
            }
            .image-overlay {
              position: absolute;
              left: 0;
              bottom: 0;
              right: 0;
              background-color: rgba(0, 0, 0, 0.5);
              width: 100%;
              height: 100%;
              transform: scale(0);
              transition: 0.4s ease-in-out;
              button {
                position: absolute;
                bottom: 10%;
                left: 30%;
              }
            }
            &:hover .image-overlay {
              transform: scale(1);
            }
          }
          a {
            display: block;
          }
        }
      }
    }
  }

  .featured-products {
    padding: 55px 0;
    @include product-block();
  }

  .instagram {
    h2 {
      padding: 20px 0;
      font-size: 30px;
      font-weight: bold;
      text-align: center;
    }
    .block-items {
      position: relative;
      width: 20%;
      img {
        object-fit: cover;
        width: 100%;
        transition: 0.3s;
      }
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100%;
        opacity: 0;
        color: white;
        font-size: 15px;
        div {
          position: absolute;
          bottom: 10%;
          padding: 30px;
          padding-bottom: 10px;
        }
      }
    }
  }

  .details {
    padding: 80px 0;
    .col-md-4 {
      text-align: center;
      padding: 15px;
      h5 {
        color: $siteMainColor;
      }
      i {
        color: #555555;
        font-size: 15px;
      }
    }
    .col-md-4:nth-child(2) {
      border-right: 1px solid $veryLightGray;
      border-left: 1px solid $veryLightGray;
    }
  }

  footer {
    background-color: $siteBGColor;
    color: $siteMainColor;
    h4 {
      padding-bottom: 30px;
      font-weight: 700;
      color: black;
      font-size: 15px;
      text-transform: uppercase;
    }
    .connection {
      padding: 70px 40px;
      p {
        font-size: 13px;
        max-width: 450px;
      }
      li {
        display: inline-block;
      }
    }
    .links {
      padding: 70px 0;
      div {
        width: 33%;
        justify-content: space-between;
        li {
          padding-bottom: 10px;
        }
      }
    }
    .news {
      padding: 70px 0;
      input {
        display: block;
        border: none;
        background: transparent;
        padding: 15px 0;
        font-size: 14px;
        border-bottom: 1px solid $siteMainColor;
        width: 50%;
        max-width: 450px;
      }
      button {
        display: block;
        background-color: black;
        border: none;
        outline: none;
        width: 180px;
        border-radius: 20px;
        padding: 10px;
        margin-top: 30px;
        a {
          color: white;
        }
        &:hover {
          @include hover($costomRed, white);
        }
      }
    }
    .banks {
      text-align: center;
      a {
        display: inline-block;
        padding: 20px 0;
      }
      div {
        padding-bottom: 40px;
        font-size: 14px;
        color: #888;
      }
    }
  }
}
